* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.icons-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  //position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .07);
  margin: .5rem .5rem 3rem;
}

.icon__tooltip {
  //position: absolute;
  transform: translateY(38px);
  bottom: -40px;
  left: 40px;
  background-color: #fff;
  font-size: 1rem;
  color: #566b78;
  padding: 5px 15px;
  border-radius: 50px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
}

//
//.icon__tooltip::after {
//  content: 'booking';
//}
//
//

@each $name, $y, $x in (panic, -154px, -616px),
                (affirm, 0, 0),
                (booking, -308px, 0),
                (doordash, -462px, 0),
                (instacart, -462px, -462px),
                (reddit, -616px, -616px) {
  .icon-img {
    &-#{$name} {
      background-image: url(../img/header-logos.png);
      background-position: $y $x;
    }
  }
}